Repository LordRonz/lordronz-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier -w"],
  "src/**/*.{json,css,scss,md,mdx}": ["prettier -w"],
  "./**/*.{js,ts,md,json,yml,yaml,html}": ["prettier -w"]
}

feat: public coveralls bruh :rocket:
  .github/workflows/coveralls.yml
Due: prettier -w

feat: add about page! :rocket:
  src/components/Wave.tsx
  src/components/buttons/CoolButton.tsx
  src/pages/_document.tsx
  src/pages/about.tsx
  src/pages/index.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add tech stack :rocket:
  src/components/TechStack.tsx
  src/pages/about.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add db to techstack, add scrollbutton :rocket:
  src/components/ScrollButton.tsx
  src/components/TechStack.tsx
  src/pages/_app.tsx
Due: eslint --max-warnings=0, prettier -w

feat: change index seo title :rocket:
  src/pages/index.tsx
  src/pages/projects.tsx
Due: eslint --max-warnings=0, prettier -w

chore(release): 0.0.4 :rocket:
  CHANGELOG.md
  package.json
Due: prettier -w

feat: color palette :rocket:
  src/styles/globals.css
  tailwind.config.js
Due: prettier -w

feat: add eva card :rocket:
  README.md
  eva_banner.png
Due: prettier -w

[ImgBot] Optimize images
  eva_banner.png
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  public/vercel.svg
Due: none

feat: scroll button props :rocket:
  src/components/ScrollButton.tsx
Due: eslint --max-warnings=0, prettier -w

feat: scroll button refined :rocket:
  src/components/ScrollButton.tsx
Due: eslint --max-warnings=0, prettier -w

chore: yarn dedupe :rocket:
  yarn.lock
Due: none

style: stylelint lintstaged :rocket:
  .lintstagedrc.json
Due: prettier -w

fix: jest config error ts-node :rocket:
  package.json
  yarn.lock
Due: prettier -w

feat: update cypress yo :rocket:
  cypress.config.ts
  cypress.json
  cypress/e2e/pages/404.cy.ts
  cypress/e2e/pages/index.cy.ts
  cypress/support/e2e.ts
Due: prettier -w

ci: update cypress workflow yo :rocket:
  .github/workflows/cypress.yml
Due: prettier -w

feat: colors constant :rocket:
  src/constants/colors.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: preact is back yo :rocket:
  next.config.js
  package.json
  yarn.lock
Due: prettier -w

feat: app engine deploy :rocket:
  app.yaml
  package.json
  yarn.lock
Due: prettier -w

feat: preact mmk :rocket:
  next.config.js
Due: prettier -w

feat: add cv :rocket:
  public/cv.pdf
  src/pages/about.tsx
  src/styles/globals.css
Due: eslint --max-warnings=0, prettier -w

feat: add cv :rocket:
  public/cv.pdf
Due: none

feat: intervariable font :rocket:
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add bangkit capstone project :rocket:
  src/pages/projects.tsx
Due: eslint --max-warnings=0, prettier -w

feat: update projects :rocket:
  next.config.js
  public/images/projects/apimogus.png
  public/images/projects/telemogus.png
  src/components/Accent.tsx
  src/components/ColorModeToggle.tsx
  src/components/NavigationItem.tsx
  src/components/ProjectCard.tsx
  src/components/TechStack.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add react image lightbox :rocket:
  package.json
  src/components/ProjectCard.tsx
  src/pages/_app.tsx
  src/pages/projects.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: changed cv to a gdrive link :rocket:
  public/cv.pdf
  src/pages/about.tsx
Due: eslint --max-warnings=0, prettier -w

chore: deps :rocket:
  next-sitemap.config.js
  package.json
  src/pages/_app.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

chore: deps :rocket:
  package.json
  yarn.lock
Due: prettier -w

chore: upgrade package :rocket:
  package.json
  yarn.lock
Due: prettier -w

feat: add golang moment :rocket:
  package.json
  src/components/TechStack.tsx
  src/pages/about.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: go blog :rocket:
  next.config.js
  package.json
  src/components/SortListbox.tsx
  src/components/TechIcons.tsx
  src/components/content/Comment.tsx
  src/components/content/ContentPlaceHolder.tsx
  src/components/content/CustomCode.tsx
  src/components/content/MDXComponents.tsx
  src/components/content/SplitImage.tsx
  src/components/content/TableOfContents.tsx
  src/components/content/Tag.tsx
  src/components/content/blog/BlogCard.tsx
  src/components/content/card/GitHubCard.tsx
  src/components/images/CloudinaryImg.tsx
  src/components/links/TOCLink.tsx
  src/constants/env.ts
  src/contents/blog/python-venv.mdx
  src/hooks/useInjectContentMeta.tsx
  src/hooks/useScrollSpy.tsx
  src/lib/blog.ts
  src/lib/contentMeta.ts
  src/lib/helper.ts
  src/lib/mdx.ts
  src/lib/mdxClient.ts
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/styles/dracula.css
  src/styles/mdx.css
  src/types/frontmatters.ts
  src/types/meta.ts
  tailwind.config.js
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

style: format json:rocket:
  .lintstagedrc.json
Due: prettier -w

chore: upgrade package :rocket:
  package.json
  src/components/TechIcons.tsx
  src/components/content/blog/BlogCard.tsx
  src/components/content/card/GitHubCard.tsx
  src/components/images/CloudinaryImg.tsx
  src/pages/blog/index.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add route :rocket:
  src/components/layout/Header.tsx
Due: eslint --max-warnings=0, prettier -w
