Repository LordRonz/lordronz-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

fix: eslint
  eslint.config.mjs
Due: none

feat: coding interview bullshi blog
  src/components/forms/Tab.tsx
  src/contents/blog/coding-interview-bullshi.mdx
  src/contents/blog/id-coding-interview-bullshi.mdx
  src/styles/globals.css
Due: eslint --max-warnings=0, prettier -w

chore: update deps
  bun.lock
  package.json
  vercel.json
Due: prettier -w

ci: migrate ci to bun
  .github/workflows/ci.yml
Due: prettier -w

ci: migrate playwright and coveralls ci to bun
  .github/workflows/coveralls.yml
  .github/workflows/playwright.yml
  src/app/apple-icon.tsx
  src/app/icon.tsx
  src/components/buttons/ButtonV2.tsx
  vitest.config.ts
Due: eslint --max-warnings=0, prettier -w

feat: 2025 retrospective
  src/contents/blog/2025-retrospective.mdx
Due: prettier -w

feat: 2025 retrospective indo version
  src/contents/blog/id-2025-retrospective.mdx
Due: prettier -w

fix: about page marker and spotify animation hydration
  bun.lock
  package.json
  src/components/Marker.tsx
  src/components/NowPlaying.tsx
  src/styles/globals.css
Due: eslint --max-warnings=0, prettier -w

chore: fix unit tests
  src/__tests__/components/CopyEmail.test.tsx
  src/__tests__/helper.test.ts
  src/__tests__/page/index.test.tsx
  vitest.setup.ts
Due: eslint --max-warnings=0, prettier -w

chore: fix playwright script
  playwright.config.ts
Due: prettier -w

fix: replace div with button in copyemail component
  src/components/layout/Footer/CopyEmail.tsx
Due: eslint --max-warnings=0, prettier -w

chore: update deps
  bun.lock
  next-env.d.ts
  package.json
  src/assets/images/linkedin-logo.svg
  src/components/layout/Footer.tsx
  vercel.json
Due: eslint --max-warnings=0, prettier -w

feat: new blog react native ios notification
  src/contents/blog/react-native-ios-notification.mdx
Due: prettier -w

chore: update packages
  bun.lock
  eslint.config.mjs
  package.json
  tsconfig.json
Due: prettier -w

chore: update packages
  bun.lock
  package.json
Due: prettier -w

fix: show only available blog translations
  bun.lock
  package.json
  src/__tests__/blog.test.ts
  src/app/blog/[slug]/page.tsx
  src/components/pages/BlogContent.tsx
  src/lib/blog.ts
Due: eslint --max-warnings=0, prettier -w

fix: handle spotify bad requests
  src/__tests__/nowPlayingRoute.test.ts
  src/app/api/now-playing/route.ts
Due: eslint --max-warnings=0, prettier -w

perf: lazy load project lightbox
  src/__tests__/components/ProjectsPage.test.tsx
  src/components/pages/ProjectsPage.tsx
Due: eslint --max-warnings=0, prettier -w

feat: up bun version
  vercel.json
Due: prettier -w

refactor(button): migrate to Base UI
  .migration/button.md
  bun.lock
  package.json
  src/__tests__/components/ButtonV2.test.tsx
  src/components/buttons/ButtonV2.tsx
Due: eslint --max-warnings=0, prettier -w

refactor(tabs): migrate to Base UI
  .migration/tabs.md
  src/__tests__/components/Tabs.test.tsx
  src/components/forms/Tab.tsx
  src/components/ui/tabs.tsx
Due: eslint --max-warnings=0, prettier -w

refactor(tooltip): migrate to Base UI
  .migration/tooltip.md
  src/__tests__/components/Tooltip.test.tsx
  src/components/Tooltip.tsx
  src/components/ui/tooltip.tsx
Due: eslint --max-warnings=0, prettier -w

refactor(select): migrate to Base UI
  .migration/select.md
  src/__tests__/components/Select.test.tsx
  src/components/ui/select.tsx
Due: eslint --max-warnings=0, prettier -w

refactor(toast): migrate to Base UI
  .migration/toast.md
  src/__tests__/components/Toast.test.tsx
  src/components/pages/QuotesPage.tsx
  src/components/ui/toast/toast.tsx
  src/components/ui/toast/toaster.tsx
  src/components/ui/toast/use-toast.tsx
Due: eslint --max-warnings=0, prettier -w

chore(ui): remove Radix dependencies
  .migration/project.md
  bun.lock
  package.json
  tailwind.config.ts
Due: prettier -w

fix(blog): count first view of new content
  src/__tests__/incrementBlogView.test.ts
  src/hooks/useContentMeta.tsx
  src/lib/actions/incrementBlogView.ts
Due: eslint --max-warnings=0, prettier -w

chore: migrate to cn
  bun.lock
  package.json
  src/components/ColorModeToggle.tsx
  src/components/NowPlaying.tsx
  src/lib/clsxm.ts
Due: eslint --max-warnings=0, prettier -w

fix(deps): patch @grpc/grpc-js server-crash vulnerabilities
  bun.lock
  package.json
Due: prettier -w

test(hooks): cover content-meta hooks and view-counter interaction
  src/__tests__/hooks/useContentMeta.test.tsx
  src/__tests__/hooks/useInjectContentMeta.test.tsx
Due: eslint --max-warnings=0, prettier -w

chore: update dependencies and migrate lint to oxlint
  .github/workflows/ci.yml
  .lintstagedrc.json
  .oxlintrc.json
  .prettierignore
  .storybook/main.ts
  .stylelintrc.json
  bun.lock
  eslint.config.mjs
  next.config.ts
  package.json
  src/lib/db/index.ts
Due: eslint --max-warnings=0, prettier -w

chore: migrate formatting from prettier to oxfmt
  .github/workflows/ci.yml
  .lintstagedrc.json
  .oxfmtrc.json
  .prettierignore
  .prettierrc.json
  bun.lock
  netlify.toml
  package.json
  src/app/layout.tsx
  src/components/2048Game.tsx
  src/components/NowPlaying.tsx
  src/components/ProjectCard.tsx
  src/components/Tooltip.tsx
  src/components/buttons/ShimmerButton.tsx
  src/components/content/CustomCode.tsx
  src/components/content/Quote.tsx
  src/components/content/SingleProductContentPage.tsx
  src/components/content/TableOfContents.tsx
  src/components/content/blog/BlogCard.tsx
  src/components/content/card/GitHubEmbed.tsx
  src/components/forms/Sort.tsx
  src/components/forms/Tab.tsx
  src/components/images/CloudinaryImg.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/Header/SkipToContent.tsx
  src/components/layout/Header/animated-title.tsx
  src/components/pages/AboutPage.tsx
  src/components/pages/BlogContent.tsx
  src/components/pages/BlogPage.tsx
  src/components/pages/CVPage.tsx
  src/components/pages/ComponentsPage.tsx
  src/components/pages/HomePage.tsx
  src/stories/Header.tsx
  src/stories/Page.tsx
  src/styles/mdx.css
  src/types/frontmatters.ts
Due: eslint --max-warnings=0, prettier -w

Path conditions:
  eslint --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  prettier -w: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{json,css,scss,md,mdx})) or (any of: ./**/*.{js,ts,md,json,yml,yaml,html})
