Repository LordRonz/lordronz-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier -w"],
  "src/**/*.{json,css,scss,md,mdx}": ["prettier -w"],
  "./**/*.{js,ts,md,json,yml,yaml,html}": ["prettier -w"]
}

feat: migrate to pnpm
  .github/workflows/ci.yml
Due: prettier -w

feat: migrate to pnpm
  .github/workflows/ci.yml
  .github/workflows/coveralls.yml
  .github/workflows/cypress.yml
Due: prettier -w

fix: pnpm build error
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix: pnpm cypress g action error
  .github/workflows/cypress.yml
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix: request module not found
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix: firestore error deps
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix: pn not synced
  pnpm-lock.yaml
  tsconfig.json
Due: prettier -w

feat: migrate about page to app router
  src/app/about/page.tsx
  src/app/api/now-playing/route.ts
  src/components/TechIcons.tsx
  src/components/content/TableOfContents.tsx
  src/components/images/CloudinaryImg.tsx
  src/components/pages/AboutPage.tsx
  src/constants/cloudinary.ts
  src/hooks/useInjectContentMeta.tsx
  src/lib/generateSeoMetadata.ts
  src/lib/mdx.ts
  src/lib/mdxClient.ts
  src/pages/about.tsx
  src/pages/api/now-playing.ts
  src/pages/blog/index.tsx
Due: eslint --max-warnings=0, prettier -w

test: cypress app router error
  cypress/e2e/pages/about.cy.ts
  cypress/e2e/pages/index.cy.ts
Due: prettier -w

feat: revalidate now playing to 10 s
  src/app/api/now-playing/route.ts
Due: eslint --max-warnings=0, prettier -w

feat: fetch now playing only if visible
  src/components/NowPlaying.tsx
Due: eslint --max-warnings=0, prettier -w

fix: intersection observer test error
  src/__tests__/components/Footer.test.tsx
  src/__tests__/components/NowPlaying.test.tsx
  src/__tests__/page/index.test.tsx
Due: eslint --max-warnings=0, prettier -w

feat: use lodash-es
  next.config.js
  package.json
  pnpm-lock.yaml
  src/hooks/useScrollSpy.tsx
  src/lib/mdxClient.ts
Due: eslint --max-warnings=0, prettier -w

feat: some frame motion tree shaking
  package.json
  pnpm-lock.yaml
  src/components/NavigationItem.tsx
  src/components/layout/Header.tsx
  src/components/layout/MobileMenu.tsx
Due: eslint --max-warnings=0, prettier -w

feat: remove index-old graphic
  pnpm-lock.yaml
  src/components/layout/Graphic.tsx
  src/components/pages/HomePage.tsx
  src/components/ui/skeleton.tsx
  src/lib/clsxm.ts
  src/lib/utils.ts
  src/pages/index-old.tsx
Due: eslint --max-warnings=0, prettier -w

feat: migrate projects page to app router
  src/__tests__/clsxm.test.ts
  src/__tests__/page/index.test.tsx
  src/app/projects/page.tsx
  src/components/pages/ProjectsPage.tsx
  src/pages/api/hello.ts
  src/pages/index-old.tsx
Due: eslint --max-warnings=0, prettier -w

fix: build error
  src/stories/pages/home.stories.tsx
Due: eslint --max-warnings=0, prettier -w

test: commit
  .husky/pre-commit
Due: none

feat: migrate cv to app router
  src/app/cv/page.tsx
  src/components/pages/CVPage.tsx
  src/pages/cv.tsx
Due: eslint --max-warnings=0, prettier -w

feat: better seo
  src/lib/generateSeoMetadata.ts
Due: eslint --max-warnings=0, prettier -w

fix: skip links not focusable
  src/__tests__/components/Header.test.tsx
  src/app/ClientLayout.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/Header/SkipToContent.tsx
  src/components/layout/Layout.tsx
  src/components/layout/MobileMenu.tsx
  src/components/pages/AboutPage.tsx
  src/components/pages/CVPage.tsx
  src/components/pages/HomePage.tsx
  src/components/pages/ProjectsPage.tsx
Due: eslint --max-warnings=0, prettier -w

fix: skip links not focusable
  src/components/layout/Header/Header.tsx
Due: eslint --max-warnings=0, prettier -w

fix: accessibility issues
  src/components/ProjectCard.tsx
  src/components/buttons/Button.tsx
  src/components/content/blog/BlogCard.tsx
  src/components/forms/Sort.tsx
Due: eslint --max-warnings=0, prettier -w

fix: accessibility cv page
  src/components/pages/CVPage.tsx
Due: eslint --max-warnings=0, prettier -w

feat: migrate blog to app router
  src/app/blog/page.tsx
  src/components/pages/BlogPage.tsx
  src/hooks/useInjectContentMeta.tsx
  src/lib/blogServer.ts
  src/lib/firebase/blog.ts
Due: eslint --max-warnings=0, prettier -w

fix: build error gh action
  src/app/blog/page.tsx
  src/lib/mdx.ts
Due: eslint --max-warnings=0, prettier -w

fix: build error gh action
  src/components/ui/skeleton.tsx
  src/hooks/useWindowDimensions.tsx
Due: eslint --max-warnings=0, prettier -w

feat: manifest
  src/app/manifest.ts
  src/scripts/pre-build/createManifest.ts
Due: eslint --max-warnings=0, prettier -w

feat: manifest rename
  src/lib/generateSeoMetadata.ts
  src/scripts/pre-build/createManifest.ts
Due: eslint --max-warnings=0, prettier -w

feat: robots
  src/app/robots.ts
Due: eslint --max-warnings=0, prettier -w

fix: skip firebase admin in ci env
  src/lib/db/index.ts
  src/lib/firebase/blog.ts
  src/pages/api/content/[slug].ts
  src/pages/api/content/index.ts
Due: eslint --max-warnings=0, prettier -w

fix: cypress build ci env
  .github/workflows/cypress.yml
  package.json
Due: prettier -w

feat: use geist font
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/pages/_app.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: eslint --max-warnings=0, prettier -w

refactor: use clsxm to tidy up classnames
  src/app/layout.tsx
  src/pages/_app.tsx
Due: eslint --max-warnings=0, prettier -w

feat: migrate blog to app
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/components/content/CustomCode.tsx
  src/components/pages/BlogContent.tsx
  src/lib/mdx.ts
  src/pages/blog/[slug].tsx
  src/styles/mdx.css
Due: eslint --max-warnings=0, prettier -w

feat: use server actions and route handler for blogs
  src/app/api/content/[slug]/route.ts
  src/hooks/useContentMeta.tsx
  src/lib/actions/incrementBlogVIew.ts
  src/pages/api/content/[slug].ts
  src/pages/api/content/index.ts
Due: eslint --max-warnings=0, prettier -w

feat: use not-found in app router
  cypress/e2e/pages/404.cy.ts
  src/app/not-found.tsx
  src/components/pages/NotFound.tsx
  src/pages/404.tsx
Due: eslint --max-warnings=0, prettier -w

feat: migrate components page to app router
  src/app/components/page.tsx
  src/components/layout/Footer.tsx
  src/components/pages/ComponentsPage.tsx
  src/pages/components.tsx
Due: eslint --max-warnings=0, prettier -w

lint: eslint typescript import type
  .eslintrc.json
  src/__tests__/components/Seo.test.tsx
  src/__tests__/og.test.ts
  src/app/api/now-playing/route.ts
  src/app/blog/page.tsx
  src/app/manifest.ts
  src/app/robots.ts
  src/components/AnimatePage.tsx
  src/components/NavigationItem.tsx
  src/components/NowPlaying.tsx
  src/components/SortListbox.tsx
  src/components/Tooltip.tsx
  src/components/content/Comment.tsx
  src/components/content/SingleProductContentPage.tsx
  src/components/content/SingleProductIndexPage.tsx
  src/components/content/blog/BlogCard.tsx
  src/components/pages/BlogContent.tsx
  src/components/pages/BlogPage.tsx
  src/hooks/useInjectContentMeta.tsx
  src/lib/contentMeta.ts
  src/lib/mdxClient.ts
  src/pages/product/number-ninja/[slug].tsx
  src/pages/product/number-ninja/index.tsx
  src/pages/product/petto/[slug].tsx
  src/pages/product/petto/index.tsx
  src/pages/product/spigger/[slug].tsx
  src/pages/product/spigger/index.tsx
  src/scripts/pre-build/createManifest.ts
  src/types/frontmatters.ts
Due: eslint --max-warnings=0, prettier -w

feat: og image metadata
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/components/page.tsx
  src/app/cv/page.tsx
  src/app/projects/page.tsx
  src/lib/generateSeoMetadata.ts
Due: eslint --max-warnings=0, prettier -w
