Repository LordRonz/lordronz-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

feat: storybook config typescript :rocket:
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/tsconfig.json
  next.config.js
  package.json
  src/stories/Button.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/pages/home.stories.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: update scripts :rocket:
  package.json
  src/stories/Page.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: update page story :rocket:
  src/stories/Page.tsx
  src/stories/page.css
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: using tailwind instead of css for stories :rocket:
  package.json
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/button.css
  src/stories/header.css
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

chore: deduplicate yarn :rocket:
  package.json
  yarn.lock
Due: prettier -w

chore: deduplicate yarn :rocket:
  yarn.lock
Due: none

chore: sort package.json :rocket:
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier -w

chore(deps): update next-themes :rocket:
  package.json
  yarn.lock
Due: prettier -w

feat: add colormodetoggle and styledinput component :rocket:
  src/components/ColorModeToggle.tsx
  src/components/forms/StyledInput.tsx
Due: eslint --max-warnings=0, prettier -w

feat: purge yarn lock :rocket:
  .gitignore
  yarn.lock
Due: none

feat: color mode toggle improvement, better accent coloring :rocket:
  src/components/Accent.tsx
  src/components/ColorModeToggle.tsx
  src/pages/404.tsx
  src/pages/500.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add a very nice navbar :rocket:
  package.json
  src/components/layout/Header.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

fix: accessibility and seo lighthouse :rocket:
  src/components/ColorModeToggle.tsx
  src/components/layout/Footer.tsx
  src/components/links/UnstyledLink.tsx
Due: eslint --max-warnings=0, prettier -w

fix: accessibility and seo lighthouse :rocket:
  src/components/layout/Header.tsx
  src/components/links/UnstyledLink.tsx
Due: eslint --max-warnings=0, prettier -w

feat: better nav for mobile device :rocket:
  src/components/NavigationItem.tsx
  src/components/layout/Header.tsx
  src/components/layout/MobileMenu.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add projects page :rocket:
  src/components/AnimatePage.tsx
  src/components/ProjectCard.tsx
  src/components/layout/Layout.tsx
  src/pages/components.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add more projects, project image :rocket:
  public/images/projects/dtk_class.png
  public/images/projects/pesan_awanama.png
  public/images/projects/risaikuru.png
  public/images/projects/short_link.png
  src/components/ProjectCard.tsx
  src/pages/projects.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add favicons :rocket:
  public/favicon copy.ico
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/manifest.json
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  public/images/logo.png
  public/logo192.png
  public/logo512.png
  src/components/Seo.tsx
  src/lib/og.ts
Due: eslint --max-warnings=0, prettier -w

feat: add favicons :rocket:
  public/images/logo.jpg
  src/lib/og.ts
Due: eslint --max-warnings=0, prettier -w

fix: favicon broken link :rocket:
  public/favicon copy.ico
  public/favicon.ico
  public/vercel.ico
Due: none

feat: wording :rocket:
  src/pages/projects.tsx
Due: eslint --max-warnings=0, prettier -w

feat: disable preact :rocket:
  next.config.js
Due: prettier -w

feat: project button scale animation :rocket:
  src/components/ProjectCard.tsx
Due: eslint --max-warnings=0, prettier -w

feat: full page 404 includes header and footer :rocket:
  src/pages/404.tsx
  src/pages/500.tsx
Due: eslint --max-warnings=0, prettier -w

docs: update readme :rocket:
  README.md
Due: prettier -w

feat: add support for svgr :rocket:
  next.config.js
  package.json
  yarn.lock
Due: prettier -w

feat: add intersection observer animationg :rocket:
  package.json
  src/components/AnimatePage.tsx
  src/components/ProjectCard.tsx
  src/pages/_app.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

ci: disable package auto update ffs :rocket:
  .github/dependabot.yml
Due: prettier -w

feat: change skip to content button :rocket:
  src/components/layout/Header.tsx
Due: eslint --max-warnings=0, prettier -w

feat: change skip to content :rocket:
  src/components/layout/Header.tsx
Due: eslint --max-warnings=0, prettier -w

feat: change accent light mode to be more contrast :rocket:
  src/components/Accent.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add copyright footer :rocket:
  src/components/PageProgress.tsx
  src/components/layout/Footer.tsx
Due: eslint --max-warnings=0, prettier -w

feat: better error page accent :rocket:
  src/pages/404.tsx
  src/pages/500.tsx
Due: eslint --max-warnings=0, prettier -w

feat: enable dependabot update :rocket:
  .github/dependabot.yml
Due: prettier -w

feat: add ring to project card and colormodetoggle :rocket:
  src/components/ColorModeToggle.tsx
  src/components/ProjectCard.tsx
  src/components/layout/Header.tsx
  src/pages/projects.tsx
Due: eslint --max-warnings=0, prettier -w

feat: better cool button :rocket:
  src/components/buttons/Button.tsx
  src/components/buttons/CoolButton.tsx
  src/components/links/ButtonLink.tsx
  src/pages/components.tsx
  tailwind.config.js
Due: eslint --max-warnings=0, prettier -w

feat: even better cool button :rocket:
  src/components/buttons/CoolButton.tsx
  src/pages/components.tsx
Due: eslint --max-warnings=0, prettier -w

feat: public coveralls bruh :rocket:
  .github/workflows/coveralls.yml
  README.md
Due: prettier -w

Path conditions:
  eslint --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  prettier -w: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{json,css,scss,md,mdx})) or (any of: ./**/*.{js,ts,md,json,yml,yaml,html})
