Repository LordRonz/lordronz-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier -w"],
  "src/**/*.{json,css,scss,md,mdx}": ["prettier -w"],
  "./**/*.{js,ts,md,json,yml,yaml,html}": ["prettier -w"]
}

fix: cloudinary route :rocket:
  src/components/content/blog/BlogCard.tsx
  src/contents/blog/python-venv.mdx
  src/pages/blog/[slug].tsx
Due: eslint --max-warnings=0, prettier -w

feat: complete the python venv blog :rocket:
  .prettierrc.json
  src/components/links/CustomLink.tsx
  src/contents/blog/python-venv.mdx
  src/pages/blog/index.tsx
  src/styles/mdx.css
Due: eslint --max-warnings=0, prettier -w

feat: blog view api attempt :rocket:
  .gitignore
  package.json
  src/lib/db/index.ts
  src/pages/api/content/[slug].ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: custom code copy icon :rocket:
  src/components/content/CustomCode.tsx
Due: eslint --max-warnings=0, prettier -w

feat: move firebase key to env :rocket:
  .env.example
  src/lib/db/index.ts
Due: eslint --max-warnings=0, prettier -w

feat: next js 13 :rocket:
  CHANGELOG.md
  README.md
  package.json
  src/components/ProjectCard.tsx
  src/components/images/CloudinaryImg.tsx
  src/components/layout/Header.tsx
  src/components/links/UnstyledLink.tsx
  src/pages/_app.tsx
  src/stories/Introduction.stories.mdx
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

fix: link tree :rocket:
  src/pages/about.tsx
Due: eslint --max-warnings=0, prettier -w

feat: gruvbox theme :rocket:
  src/pages/_document.tsx
  src/styles/dracula.css
  src/styles/globals.css
Due: eslint --max-warnings=0, prettier -w

chore: change file name and yarn dedupe :rocket:
  src/pages/_app.tsx
  src/styles/gruvbox.css
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

chore: remove unused package :rocket:
  package.json
  yarn.lock
Due: prettier -w

feat: add blog views backend (firebase) :rocket:
  package.json
  src/constants/db.ts
  src/hooks/useContentMeta.tsx
  src/hooks/useInjectContentMeta.tsx
  src/lib/db/index.ts
  src/pages/api/content/[slug].ts
  src/pages/blog/[slug].tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add blog views (its actually working frfr ong no cap) :rocket:
  src/components/content/blog/BlogCard.tsx
  src/constants/env.ts
  src/hooks/useContentMeta.tsx
  src/hooks/useInjectContentMeta.tsx
  src/lib/contentMeta.ts
  src/pages/_app.tsx
  src/pages/api/content/[slug].ts
  src/pages/api/content/index.ts
  src/pages/blog/[slug].tsx
  src/types/meta.ts
Due: eslint --max-warnings=0, prettier -w

feat: add spotify now playing :rocket:
  environment.d.ts
  package.json
  src/components/NowPlaying.tsx
  src/components/layout/Footer.tsx
  src/components/links/ButtonLink.tsx
  src/components/links/UnstyledLink.tsx
  src/lib/db/index.ts
  src/lib/spotify.ts
  src/pages/_document.tsx
  src/pages/api/now-playing.ts
  src/types/nowPlaying.ts
  src/types/spotify.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: env example spotify :rocket:
  .env.example
Due: none

feat: change to btoa for vercel compat :rocket:
  src/lib/spotify.ts
Due: eslint --max-warnings=0, prettier -w

chore: upgrade package :rocket:
  next.config.js
  package.json
  yarn.lock
Due: prettier -w

feat: axios interceptors blog :rocket:
  src/contents/blog/axios-interceptors.mdx
Due: prettier -w

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: prettier -w

test: jest test index page header :rocket:
  package.json
  src/__tests__/blog.test.ts
  src/__tests__/helper.test.ts
  src/__tests__/page/index.test.tsx
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: use partial import react :rocket:
  .storybook/preview.tsx
  src/components/ScrollButton.tsx
  src/components/content/TableOfContents.tsx
  src/components/forms/StyledInput.tsx
  src/components/layout/Footer.tsx
Due: eslint --max-warnings=0, prettier -w

chore: yarn dedupe :rocket:
  yarn.lock
Due: none

ci: node 18 :rocket:
  .github/workflows/ci.yml
  .github/workflows/coveralls.yml
Due: prettier -w

test: add more unit test :rocket:
  src/__tests__/clsxm.test.ts
  src/__tests__/components/ColorModeToggle.test.tsx
  src/__tests__/components/CoolButton.test.tsx
  src/__tests__/components/NowPlaying.test.tsx
  src/__tests__/components/Tooltip.test.tsx
  src/__tests__/components/Wave.test.tsx
  src/__tests__/helper.test.ts
  src/__tests__/og.test.ts
  src/__tests__/page/index.test.tsx
  src/components/NowPlaying.tsx
  src/components/Wave.tsx
Due: eslint --max-warnings=0, prettier -w

feat: pwa and manifest script :rocket:
  .eslintignore
  .gitignore
  .prettierignore
  next.config.js
  package.json
  public/favicon/manifest.json
  src/components/Seo.tsx
  src/scripts/pre-build/createManifest.ts
  src/scripts/runner.ts
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

fix: typo sheesh :rocket:
  src/scripts/pre-build/createManifest.ts
Due: eslint --max-warnings=0, prettier -w

fix: framer motion bug :rocket:
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/scripts/pre-build/createManifest.ts
Due: eslint --max-warnings=0, prettier -w

feat: unit test coverage improvement :rocket:
  .github/workflows/codeql.yml
  package.json
  src/__tests__/components/CoolButton.test.tsx
  src/__tests__/components/Footer.test.tsx
  src/__tests__/components/Header.test.tsx
  src/__tests__/components/NowPlaying.test.tsx
  src/__tests__/components/PageProgress.test.tsx
  src/__tests__/components/Seo.test.tsx
  src/components/buttons/CoolButton.tsx
  src/components/layout/Header.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

chore: upgrade package :rocket:
  package.json
  yarn.lock
Due: prettier -w

fix: storybook :rocket:
  package.json
  yarn.lock
Due: prettier -w

feat: add quotes page, fetch from quotes api backend, add daisyui :rocket:
  .gitignore
  .husky/commit-msg
  commitlint.config.ts
  package.json
  src/components/Spinner.tsx
  src/components/content/Quote.tsx
  src/pages/quotes.tsx
  src/types/quote.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add mobile sidenav :rocket:
  package.json
  src/__tests__/components/Header.test.tsx
  src/components/TechStack.tsx
  src/components/layout/Header.tsx
  src/pages/_document.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add mobile sidenav :rocket:
  src/components/layout/Header.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add some tech stack yo :rocket:
  src/components/TechIcons.tsx
  src/components/TechStack.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add react native description, change edge-runtime to edge :rocket:
  src/components/TechStack.tsx
  src/pages/api/now-playing.ts
Due: eslint --max-warnings=0, prettier -w

fix: full button width and add emoji :rocket:
  package.json
  src/components/ProjectCard.tsx
  src/components/ScrollButton.tsx
  src/components/SortListbox.tsx
  src/components/Tooltip.tsx
  src/components/buttons/Button.tsx
  src/components/content/CustomCode.tsx
  src/components/content/blog/BlogCard.tsx
  src/components/images/CloudinaryImg.tsx
  src/components/layout/Header.tsx
  src/pages/about.tsx
  src/pages/components.tsx
  src/pages/index.tsx
  src/stories/Page.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add carbon badge :rocket:
  src/components/Carbonbadge.tsx
  src/components/layout/Footer.tsx
Due: eslint --max-warnings=0, prettier -w

chore: update packages :rocket:
  package.json
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

fix: update domains :rocket:
  next-sitemap.config.js
  src/components/layout/Footer.tsx
Due: eslint --max-warnings=0, prettier -w

fix: mail tooltip spacing :rocket:
  src/components/layout/Footer.tsx
Due: eslint --max-warnings=0, prettier -w

feat: change links :rocket:
  src/__tests__/components/NowPlaying.test.tsx
  src/__tests__/og.test.ts
  src/components/Seo.tsx
  src/components/layout/Footer.tsx
  src/constants/env.ts
  src/lib/og.ts
  src/pages/about.tsx
  src/pages/components.tsx
  src/pages/projects.tsx
Due: eslint --max-warnings=0, prettier -w
